div.Block {
  width: 130px;
  height: 130px;
  background-color: #efefef;
  border-radius: 3%;
  text-align: center;
  color: white;
  position: absolute;
  transition: all .3s ease-in;
}

.x--1 {
    opacity: 0;
}

.x-0 {
  left: 17.5px;
}

.x-1 {
  left: 162.5px;
}

.x-2 {
  left: 307.5px;
}

.x-3 {
  left: 452.5px;
}

.y-0 {
  top: 17.5px;
}

.y-1 {
  top: 162.5px;
}

.y-2 {
  top: 307.5px;
}

.y-3 {
  top: 452.5px;
}

h1.Value {
  margin-top: 38px;
  font-size: 46px;
}

div.dead-block {
  z-index: 0;
}

div.Value-2 {
  color: #666666;
  background-color: #aee6ff;
}

div.Value-4 {
  color: #666666;
  background-color: #7fffb6;
}

div.Value-8 {
  color: #666666;
  background-color: #8cff3b;
}

div.Value-16 {
  color: #666666;
  background-color: #f3ff35;
}

div.Value-32 {
  color: #666666;
  background-color: #ffb400;
}

div.Value-64 {
  background-color: #fd6d2d;
}

div.Value-128 {
  background-color: #ff2727;
}

div.Value-256 {
  background-color: #ff4778;
}

div.Value-512 {
  background-color: #ff5aec;
}

div.Value-1024 {
  background-color: #aa55ff;
}

div.Value-2048 {
  background-color: #6048ec;
}
